target
/resources/public
/tmp
/out-tsc
*secret2.*
*common2.*
node_modules
node
dist
.mvn
mvnw*

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

.DS_Store*
HELP.md
Thumbs.db
*.jks
*.ppk
*.p12
*id_rsa*
*id_dsa*
tools/
keystore/
.idea/
*.log
